li a i{
    margin-left: 0px;
}

.search input{
    width: 250px;
    box-shadow:
    4px 0 10px lightskyblue,
    0 4px 10px lightskyblue,  
    4px 0 10px lightskyblue;
    position: relative;
    left: 880px;
    top: 110px;
}

